html,
body{
  height: 100%;
}

body{
  @extend %rubik-400;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container2{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  text-align: center;
  color: $title;
  font-size: 36px;
  @extend %dmsans-700;
}

@media (max-width: 520px){
  .title{
    font-size: 28px;
  }
}

@media (max-width: 400px){
  .title{
    font-size: 26px;
  }
}

