@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 48px 0 53px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    margin-left: 35px;
  }
  &__list-link{
    color: #436372;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    transition: all .3s;
    padding-bottom: 2px;
  }
  &__list-link:hover{
    border-bottom: 1px solid #436372;
  }
}

.user-nav{
  display: flex;
  &__link{
    width: 50px;
    height: 50px;
    padding: 17px;
    border-radius: 50%;
  }
  &__link1{
    background-color: #edf1f4;
  }
  &__link2{
    position: relative;
    padding: 21px 20px 13px 41px;
  }
  &__link2 + .user-nav__link2{
    margin-left: 16px;
    padding: 21px 41px 13px 20px;
  }
  &__link3{
    position: relative;
  }
  &__link3::before{
    content: "";
    position: absolute;
    height: 32px;
    width: 1px;
    background-color: #fde7d3;
    left: -8px;
    top: 10px;
  }
  &__link4{
    background-color: $btn;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    color: #243f4d;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    top: 14px;
    left: 52px;
  }
  &__num2{
    left: 30px;
  }
}

.user-nav__inner{
  display: flex;
  width: 178px;
  height: 50px;
  background-color: #fcd7b6;
  border-radius: 30px;
  margin: 0 20px;
}

.footer{
  &__logo{
    display: block;
    margin-bottom: 20px;
  }
}

.footer-top{
  padding: 75px 0 70px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dae4e9;
  &__item{
    max-width: 270px;
  }
  &__item1{
    max-width: 205px;
  }
  &__link{
    display: block;
    line-height: 32px;
    font-size: 14px;
    color: #7b7b7b;
  }
  &__link-contact{
    margin-bottom: 10px;
  }
  &__adress{
    line-height: 24px;
    margin-bottom: 9px;
  }
  &__title{
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    padding-top: 15px;
    margin-bottom: 17px;
    text-transform: uppercase;
  }
  &__text{
    margin-bottom: 35px;
  }
  &__input{
    border: none;
    max-width: 170px;
    width: 100%;
    font-size: 12px;
    background-color: $bg;
    color: #234969;
    @extend %dmsans-400;
    line-height: 38px;
    padding: 0 16px;
  }
  &__btn{
    border: none;
    background-color: $btn;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    padding: 3px 0 4px;
    max-width: 100px;;
    width: 100%;
  }
}
.form{
  display: flex;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 33px 0 40px;
  font-size: 14px;
  line-height: 32px;
  color: #7b7b7b;
  &__list{
    display: flex;
  }
  &__list-item + .footer-bottom__list-item{
    margin-left: 30px;
  }
  &__list-item{
    position: relative;
  }
  &__list-item::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 17px;
    background-color: #7b7b7b;
    top: 6px;
    right: -16px;
  }
  &__list-item4::after{
    display: none;
  }
}

.slider-top{
  background-color: #fcd7b6;
  padding-bottom: 45px;
  &__container{
    max-width: 1310px;
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__item{
    padding-left: 50px;
  }
  &__title{
    @extend %rubik-500;
    padding-top: 220px;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    max-width: 415px;
  }
  &__text{
    max-width: 365px;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    margin-top: 35px;
  }
  &__link{
    display: inline-block;
    font-size: 15px;
    line-height: 12px;
    color: #fff;
    @extend %rubik-500;
    background-color: $btn;
    padding: 22px 100px 22px 25px;
    margin-top: 60px;
    margin-bottom: 175px;
    position: relative;
  }
  &__link::after{
    content: "";
    position: absolute;
    background-image: url("../images/icons/arrow.svg");
    width: 22px;
    height: 9px;
    right: 18px;
    top: 23px;
  }
  &__img{
    z-index: 10;
    position: relative;
    padding-top: 290px;
    margin-right: 110px;
  }
  &__img-before{
    position: relative;
  }
  &__img-before::before{
    content: "";
    position: absolute;
    background: linear-gradient(-90deg, #fff, transparent);
    width: 634px;
    height: 634px;
    border-radius: 50%;
    top: 100px;
    right: 0;
  }
}

.slick-dots{
  display: flex;
  justify-content: center;
  li{
    margin-right: 13px;
    button{
      padding: 0;
      border: none;
      font-size: 15px;
      line-height: 0.8;
      @extend %rubik-500;
      width: 29px;
      height: 29px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.302;
    }
    &.slick-active{
      opacity: 1;
      background-color: #fff;
      border-radius: 50%;
      button{
        color: #243f4d;
      }
    }
  }
}






  








@import 'media';
